:root {
    --azul: #41369e;
    --vermelho: #ea1458;
    --verde: #4FFDD7;
    --roxo: #7747c4;
    --preto: #222222;
    --cinza-escuro: #333;
    --cinza-claro: #b3b3b3;
    --gelo: #e6e6e6;
    --branco: #fff;
}