:root {
    --azul: #4B3AF3;
    --vermelho: #FD4F75;
    --verde: #4FFDD7;
    --laranja: #FF7F39;
    --preto: #000;
    --cinza-escuro: #333;
    --cinza-claro: #b3b3b3;
    --gelo: #e6e6e6;
    --branco: #fff;
}