@import url(color.css);
@font-face {
    font-family: 'title';
    src: url('../css/fonts/title.ttf') format('truetype');
}
@font-face {
    font-family: 'text';
    src: url('../css/fonts/text.ttf') format('truetype');
}

/*fontes*/

.title {
    font-family: title;
}

/*Cores*/

.azul {
    color: var(--azul);
}
.verde {
    color: var(--verde);
}
.laranja {
    color: var(--laranja);
}
.vermelho {
    color: var(--vermelho);
}

/*Início*/

html {
    color: var(--cinza-escuro);
}

body{
    background-color: var(--preto);
    animation: gradient-animation 5s ease infinite;
    font-family: text;
    letter-spacing: 2px;
    margin: 0 auto;
    
}

/*Header*/

body header {
    display: flex; /*Conceito de pai e filho*/
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: var(--cinza-escuro);


    z-index: 50;
}

body header .logo {
    height: 100px;
    margin-left: 30px;
    margin-top: 65px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 20px;
    
}

.menu li a:hover{
    color: var(--cinza-claro);
    transition: 0.3s;
}


.box-canto-superior {
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;

}

.marca0 {
    width: 15px;
    height: 100px;
    background-color: var(--azul);
}

.marca1 {
    width: 15px;
    height: 130px;
    background-color: var(--verde);
}

.marca2 {
    width: 15px;
    height: 160px;
    background-color: var(--laranja);
}

.marca3 {
    width: 15px;
    height: 190px;
    background-color: var(--vermelho);
}


/*Main*/

body main {
    display: flex;
    min-height: calc(100vh - 60px);
    align-items: center;

    flex-direction: column;
    position: relative;

    max-width: 80%;
    margin: 0 auto;
}

#apresentacao {
    background-color: var(--vermelho);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;

    margin-top: 15vh;
}

.quadro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    margin-top: 10vh;
}

#quadro-sobre {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 180px 40px 40px;

    width: 80%; 
    border-radius: 10px;
    margin-right: 20%;
}

#imagem-sobre {
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: 10px solid var(--preto);

    max-width: 50%;

    position: absolute;
    right: 0;
}

#quadro-projeto {
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 40px 40px 180px;

    border-radius: 10px;
    width: 80%; 
    margin-left: 20%;
    margin-top: 20vh;
    margin-bottom: 20vh;

}

.imagem-projeto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid var(--preto);

    max-width: 50%;

    position: absolute;
    left: 0;
}

.informacoes-projeto {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 15px;

    padding: 20px;
    gap: 15px;
}

#btn-projetos {
    display: flex;
    justify-content: center;
    background: none;
    border: 3px solid var(--azul);
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    font-size: 15px;
    margin: 0 auto;
    cursor: pointer;
}

#btn-projetos a {
    color: var(--azul);
    font-family: title;
}

#btn-projetos:hover {
    background-color: var(--preto);
    transition: 0.5s;
}

/* .container-projetos { 
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.projeto {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}
.projeto img {
    height: 100%;
}

.projeto h3 {
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
}


.container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.6;
    background-color: var(--preto);
}

.btn-mais-projetos {
    background: none;
    border: 1px solid var(--branco);
    border-radius: 10px;
    color: var(--branco);
    width: 180px;
    padding: 20px;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-mais-projetos:hover {
    background-color: var(--preto);
    transition: 0.3s;
}*/


#quadro-contato {
    background-color: var(--laranja);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;

    border-radius: 10px;
    width: 100%; 
    margin-bottom: 20vh;
}

#imagem-contato {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid var(--preto);

    right: 0;
}

#formulario-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#formulario-contato div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    margin-bottom: 30px;

    gap: 5px;
}

.input-dados {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    outline: none;
}

#mensagem {
    resize: none;
    height: 200px;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
}

#btn-contato {
    display: flex;
    justify-content: center;
    color: var(--verde);
    font-family: title;

    background: none;
    border: 3px solid var(--verde);
    border-radius: 10px;
    width: 180px;
    padding: 10px;

    font-size: 15px;
    margin: 0 auto;
    cursor: pointer;
}

#btn-contato:hover {
    background-color: var(--preto);
    transition: 0.5s;
}


/*Footer*/

body footer {

    background-color: var(--cinza-escuro);
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    padding: 0 25px;
    width: 100%;
    height: 100px;
}

.box-canto-inferior {
    display: flex;
    align-items: end;

    z-index: 50;
}

.marca7 {
    width: 15px;
    height: 60px;
    background-color: var(--azul);   
}

.marca6 {
    width: 15px;
    height: 90px;
    background-color: var(--verde);
}

.marca5 {
    width: 15px;
    height: 120px;
    background-color: var(--laranja);
}

.marca4 {
    width: 15px;
    height: 150px;
    background-color: var(--vermelho);
}

#apresentacao-final {
    color: var(--preto);
    display: flex;
    align-items: center;
    padding-bottom: 25px;

    flex-direction: column;
    font-size: 18px;
    gap: 5px;
}

#apresentacao-final div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-rodape {
    height: 25px;
}
    
#redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px;

    gap: 10px;
}

#redes-sociais li a i {
    border: 1px solid var(--branco);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
    
}

#redes-sociais li a i:hover {
    color: var(--vermelho);
    border: 1px solid var(--vermelho);
    transform: scale(1.1);
}


/* ##### */
/* other devices */
@media (max-width: 700px) {

    body{
        background-color: var(--preto);
        font-family: text;
        margin: 0 auto;
        max-width: 90%;
    }

}

/* @keyframes gradient-animation { 
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/